.container_gallery {
    padding-bottom: 20px;
}

.btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#okoyama {
    position: absolute;
    top: 10px;
}

#kurashiki {
    position: absolute;
    top: 40px;
    left: 100px;
}
